<form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.title" name="title"
             #title="ngModel">
      <div [hidden]="title.valid || title.pristine"
           class="alert alert-danger">
        Title is required
      </div>
    </div>
    <div class="form-group">
        <label for="name">Content</label>
        <textarea placeholder="reason" class="form-control" id="name"
               required
               [(ngModel)]="model.body" name="title"
               #body="ngModel"></textarea>
        <div [hidden]="body.valid || body.pristine"
             class="alert alert-danger">
             body is required
        </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
